@media (max-width: 480px) {
    .image {
        display: none!important;
    }

    .home {
        width: 100%!important;
    }

    .home > div {
        width: 80%!important;
    }
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.image, .home {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image {
    background: rgb(48,99,189);
    background: linear-gradient(90deg, rgba(48,99,189,1) 0%, rgba(74,124,214,1) 35%, rgba(99,147,232,1) 100%);
}

.image img {
    position: inherit;
    height: auto;
    max-width: 70%;
}

.home {
    background-color: #FFF;
    color: #6393E8;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

.home div h5 {
    font-size: 1.2em;
    letter-spacing: 0.155em;
    font-weight: 400;
}

.home div h1 {
    font-size: 3em;
    margin-bottom: 1em;
}

.home div h2 {
    font-size: 2em;
    margin-bottom: 1em;
    font-weight: 600;
    letter-spacing: 0.1em;
}

.info-login {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 5.5em;
    background-color: #003399;
    padding: 1em 0;
}

.info-login p {
    font-size: 1.2em;
}

.footer-home {
    position: absolute;
    bottom: 2em;
}

/* ============================== Login.js & Register.js ============================== */

form {
    position: inherit;
    display: flex;
    flex-direction: column;
}

.label-home {
    height: 4.5em;
}

.input-home{
    display: flex;
    height: 2.7em;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
}

.input-home > span {
    position: absolute;
}

.input-home input {
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
}

.label-home span {
    color: red;
}

.icon-user, .icon-pass, .icon-mail {
    width: 60px;
    background-size: 1em;
}

.icon-user {
    background: url(../icons/user.svg) center no-repeat;
    background-size: 1.8em;

}

.icon-pass {
    background: url(../icons/pass.svg) center no-repeat;
    background-size: 1.4em;
}

.icon-mail {
    background: url(../icons/mail.svg) center no-repeat;
    background-size: 1.4em;
}


.BoxInput {
    padding-left: 1.5em;
}

.BoxInput-1, .BoxInput-2 {
    width: 100%;
    border: none;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-out;
    height: 3.5em;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 1em;
}

.BoxInput-1 {
    background-color: #131313;
}

.BoxInput-2 {
    background-color: #003399;
}

textarea:focus, input:focus {
    outline: 0;
}

.content-login a {
    font-weight: 600;
    color: #6393E8;
}

.content-login > div {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.content-login > form > p {
    margin-bottom: 1em;
}

.BoxCheck {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 0.3em;
    margin-bottom: 0.6em;
}

.BoxCheck > input {
    margin: 0.4em;
    height: 1em;
}
