.panel {
    display: flex;
    flex-direction: column;
    background-color: #F3F3F3;
}

/* ======================= Formulario Clientes ================== */
.register-client {
    width: 100vw;
    max-width: 100%;
    background-color: #6393E8;
    box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5em 0;
}

.register-client form {
    align-items: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1050px;
    gap: 2em;
    margin: 1.5em 0;
}

.flex label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex label span {
    color: #fff;
    margin: 0.3em;
    font-size: 0.8em;
    position: absolute;
    margin-top: 3.5em;
}

.flex input,
.submit {
    width: 20em;
    text-align: center;
    border: 1px solid #CDCDCD;
    height: 3em;
}

.submit {
    border-radius: 5px;
    background-color: #434343;
    color: #fff;
    border: none;
    height: 3em;
    margin-bottom: 1.5em;
    letter-spacing: 0.155em;
    transition: all 0.3s ease-out;
}

.submit:hover {
    background-color: #272626;
}

.plate-text {
    text-transform: uppercase;
}