* {
  margin: 0;
  padding: 0;

}

body {
  margin: 0;
  font-family: 'Arial';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

form {
  display: flex;
  flex-direction: column;
  position: inherit;
}

.font-bold {
  font-weight: 700;
}

.font-regular {
  font-weight: 400;
}

button,
input[type=submit] {
  cursor: pointer;
}

button:hover,
input[type=submit]:hover {
  filter: brightness(110%);
}

a {
  text-decoration: none;
}

hr {
  width: 80%;
  margin: auto;
  margin-bottom: 1em;
  color: #6393E8;
}

textarea:focus,
input:focus {
  outline: 0;
}