// Cores do tema
$text-color-primary: #6393E8;
$text-color-secondary: #434343;
$text-color-error: #ff0000;

// Backgrounds
$background-home: #fff;
$background-input-home: #eeeeee;
$background-clients: #F3F3F3;
$background-title: #434343;
$background-search: #fff;
$background-nav: #fff;
$background-profile-card:#fff;

//Cores dos botões
$button-color-info: #65B553;
$button-color-edit: #C2C2C2;
$button-color-close: #D71919;
$button-color-login: #003399;
$button-color-submit: #434343;