@media (max-width: 480px) {
  .client-prop-edit label {
    justify-content: center;
  }

  .client-prop-edit input {
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
  }

  .client-prop-edit span {
    margin-left: 0!important;
    justify-content: center!important;
  }

  .client-prop-edit label p {
    text-align: center !important;
  }
}

.edit-client {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F3F3F3;
  width: 100vw;
  max-width: 100%;
}

.edit-client h1 {
  margin: 2em 0 1em 0;
}

.client-title-info {
  color: #6393E8;
}

.plate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5em 0;
}

.plate p {
  margin-bottom: 0.5em;
}

.plate span {
  position: absolute;
  color: red;
  margin-top: 7.5em;
}

.edit-card {
  width: 80vw;
  max-width: 1050px;
}

.client-prop-edit {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  width: 90%;
}

.client-prop-edit label {
  display: flex;
  margin: 0.5em;
  margin-bottom: 1.5em;
  height: 2.4em;
  flex-wrap: wrap;
}

.client-prop-edit label p {
  text-align: start;
  width: 9em;
  margin-left: 1em;
  margin-bottom: 0.2em;
}

.client-prop-edit h4 {
  margin: 1em 0;
  color: #6393E8;
}

.client-prop-edit input {
  height: 1.3em;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 1em;
  margin-left: 1em;
  padding-left: 1em;
  width: 90%;
}

.client-prop-edit span {
  display: flex;
  color: red;
  width: 100%;
  justify-content: flex-start;
  margin-left: 2em;
  margin-top: 0.2em !important;
}

.button-edit {
  width: 50%;
  height: 4em;
  max-width: 20em;
  margin: 4em auto;
}