.info-box {
  padding-bottom: 3em;
  font-size: 1.2em;
}

.info-title {
  font-size: 1.2em;
  margin: 0.5em 0 !important;
}

.info-update {
  padding: 1em;
  background-color: #d4ffbb;
  border: 1px solid #799d64;
}