@media (max-width: 480px) {
    .client-prop-edit label {
        justify-content: center;
    }

    .client-prop-edit input {
        text-align: center;
        margin: 0!important;
        padding: 0!important;
    }

    .client-prop-edit span {
        display: flex;
        margin-left: 0!important;
        text-align: center!important;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0.2em!important;
        position: inherit!important;
    }

    .client-prop-edit label p {
        text-align: center!important;
    }
}

/* ============================== EditClient.js ============================== */
.edit-client {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F3F3F3;
    width: 100vw;
    max-width: 100%;
}

.edit-client h1 {
    margin: 2em 0 1em 0;
}

.client-title-info {
    color: #6393E8;
}

.plate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5em 0;
}

.plate p {
    margin-bottom: 0.5em;
}

.plate span {
    position: absolute;
    color: red;
    margin-top: 7.5em;
}

.edit-card {
    width: 80vw;
    max-width: 1050px;
}

.client-prop-edit,
.client-prop-edit-2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 90%;
}

.client-prop-edit label,
.client-prop-edit-2 label {
    display: flex;
    margin: 0.5em;
    height: 2.4em;
    flex-wrap: wrap;
}

.client-prop-edit label p {
    text-align: end;
    width: 6em;
}

.client-prop-edit h4,
.client-prop-edit-2 h4 {
    margin: 1em 0;
    color: #6393E8;
}

.client-prop-edit-2 label p {
    text-align: end;
    width: 6em;
}

.client-prop-edit input,
.client-prop-edit-2 input {
    height: 1.3em;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 1em;
    margin-left: 1em;
    padding-left: 1em;
    width: 80%;
}

.client-prop-edit span {
    color: red;
    position: absolute;
    margin-top: 1.4em;
    margin-left: 8em;
}

.button-edit {
    width: 50%;
    height: 4em;
    max-width: 20em;
    margin: 4em auto;
}

/* ============================== InfoClient.js ============================== */

.info-box {
    padding-bottom: 3em;
    font-size: 1.2em;
}

.info-title {
    font-size: 1.2em;
    margin: 0.5em 0 !important;
}

.info-update {
    padding: 1em;
    background-color: #d4ffbb;
    border: 1px solid #799d64;
}

/* ======================= Header.js ================== */

.header {
    display: flex;
    flex-direction: column;
}

.panel-top {
    display: flex;
    justify-content: space-between;
    margin: 0 5em;
    height: 5em;
}

.header .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title a {
    color: #6393E8;
}

.header .container-nav,
.box-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 4px solid #434343;
}

.profile:hover {
    cursor: pointer;
}

.container-nav:hover .nav {
    display: flex;
}

.nav {
    flex-direction: column;
    background-color: #fff;
    width: 10em;
    padding: 1em;
    border-radius: 5px;
    position: absolute;
    top: 5em;
    border: 1px solid #ededed;
    box-shadow: 5px 9px 8px -9px #000000;
    display: none;
    transition: all 0.3s ease-out;
}

.nav a,
.nav p {
    padding: 0.6em 0;
    color: #434343;
}

.nav a {
    border-top: 1px solid #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav a:hover {
    background-color: #e2e2e2;
}

.icon-loggof,
.icon-profile {
    width: 1.3em;
    height: 1.3em;
    border: none;
    cursor: pointer;
    margin-right: 0.3em;
}