@import '../_variables.scss';
@import '../_mixins.scss';

@media (max-width: 770px) {
    .profile-grid {
        flex-direction: column;
        height: 100% !important;
    }

    .profile-card-1,
    .profile-card-2 {
        width: 100% !important;
        margin: 1.5em 0;
        padding: 2em 0;
    }

    .profile-info {
        margin-bottom: 1em;
    }

    .profile-box {
        height: 70% !important;
    }

    .panel {
        height: auto !important;
    }
}

.profile-container {
    width: 100%;
    height: 100vh;
}

.profile-box {
    @include gradient-background;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 70%;
    min-height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .profile-content {
        height: 100%;
        display: flex;
        width: 100%;
        max-width: 1000px;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
            margin: 1em;
        }

        .profile-grid {
            width: 90%;
            height: 30em;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;

            .profile-card-1 {
                width: 30%;
                height: 100%;
                background-color: $background-profile-card;
                border-radius: 10px;

                .profile-img {
                    img {
                        width: 10em;
                        height: 10em;
                        border-radius: 50%;
                        margin: 1em 0;
                        border: 8px solid #434343;
                    }
                }

                .profile-info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;

                    span {
                        margin-bottom: 1em;
                        font-size: 1.2em;
                    }

                    p {
                        margin: 0.2em 0;
                        display: flex;
                        width: 90%;
                        justify-content: center;
                        word-break: break-word;
                    }
                }
            }

            .profile-card-2 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 65%;
                height: 100%;
                background-color: $background-profile-card;
                border-radius: 10px;

                .button-att {
                    @include button($button-color-submit, 100%, 0);
                }

                .button-att-pass {
                    @include button($button-color-info, 80%, 1em);
                }

                .profile-form {
                    width: 80%;

                    label {
                        width: 100%;
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;
                        margin-bottom: 1.5em;

                        &:last-child {
                            margin-bottom: 2.5em !important;
                        }

                        input {
                            width: 95%;
                            border: none;
                            border-bottom: 1px solid #ccc;
                            padding: 0.3em;
                            font-size: 1em;
                        }

                        span {
                            color: $text-color-error;
                            position: absolute;
                            margin-top: 3em;
                            margin-left: 0.3em;
                        }
                    }
                }
            }
        }
    }
}