* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Arial';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-bold {
  font-weight: 700;
}

.font-regular {
  font-weight: 400;
}

button, input[type=submit] {
  cursor: pointer;
}

a {
  text-decoration: none;
}